Dragon Spirit/.vs/
Dragon Spirit/Debug/
Dragon Spirit/Dragon Spirit/Debug/
*.filters
*.user
*.ipch
*.suo
targetserver.*


Dragon Spirit/.vs/Dragon Spirit/v15/.suo
Dragon Spirit/.vs/Dragon Spirit/v15/Browse.VC.db
*.db
Dragon Spirit/.vs/Dragon Spirit/v15/.suo
*.db
*.db
Dragon Spirit/Debug/Dragon Spirit.exe
Dragon Spirit/Debug/Dragon Spirit.exe
*.ilk
*.pdb
*.idb
*.pdb
*.obj
*.obj
*.tlog
*.db
Dragon Spirit/.vs/Dragon Spirit/v15/.suo
*.log
*.tlog
*.pdb
*.ilk
*.exe
*.ilk
*.pdb
*.tlog
*.tlog
*.tlog
*.obj
Dragon Spirit/.vs/Dragon Spirit/v15/.suo
Dragon Spirit/.vs/Dragon Spirit/v15/Browse.VC.db
