Centipede/.vs/
Centipede/Debug/
Centipede/Centipede/Debug/
*.filters
*.user
*.ipch
*.suo
targetserver.*


Centipede/.vs/Centipede/v15/.suo
Centipede/.vs/Centipede/v15/Browse.VC.db
*.db
Centipede/.vs/Centipede/v15/.suo
*.db
*.db
Centipede/Debug/Centipede.exe
Centipede/Debug/Centipede.exe
*.ilk
*.pdb
*.idb
*.pdb
*.obj
*.obj
*.tlog
*.db
Centipede/.vs/Centipede/v15/.suo
*.log
*.tlog
*.pdb
*.ilk
*.exe
*.ilk
*.pdb
*.tlog
*.tlog
*.tlog
*.obj
Centipede/.vs/Centipede/v15/.suo
Centipede/.vs/Centipede/v15/Browse.VC.db
